<mat-toolbar color="" class="mat-elevation-z3">
  <button mat-icon-button (click)="collabsed.set(!collabsed())">
    <mat-icon color="" mat-icon-button> menu </mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>

      <mat-sidenav opened mode="side" [style.width]="sidnavWidth()" >
        <app-custom-sidenav [collapsed]="collabsed()"></app-custom-sidenav>
      </mat-sidenav>
      <mat-sidenav-content class="content" [style.margin-left]="sidnavWidth()">
        
        <router-outlet ></router-outlet>
      </mat-sidenav-content>



</mat-sidenav-container>

